@charset "utf-8";

/*------ Layout Styles ------*/
.width{
width:960px;
margin:0 auto;
}
.clr{
clear:both;
}
.inside{
padding:10px;
}
/*--- Header ---*/
#header{}
#header-left{
float:left;
width:480px;
}
#header-right{
float:right;
width:440px;
}
#header .inside{
padding:0 10px 20px 10px;
}
/*--- Logo ---*/
#logo{
display:block;
width:460px;
height:110px;
margin:10px 0;
float:left;
text-indent:-9999px;
outline:none;
float:left;
}
/*--- Top Menu ---*/
#topmenu{
font-size:0.9em;
font-family:Georgia, "Times New Roman", Times, serif;
margin:0 0 20px 0;
}
#topmenu .inside{
padding:10px;
}
#topmenu ul, #topmenu li{
margin:0;
padding:0;
list-style:none;
}
#topmenu li{
display:inline;
}
#topmenu li a{
text-decoration:none;
margin:0 2px;
}
/*--- Search ---*/
#search .inside{
padding:10px;
}
.search {
padding:3px;
}
#search .inputbox {
background:transparent;
border:none;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-weight:bold;
font-size:14px;
padding:7px 5px;
text-transform:uppercase;
}
#search .button{
float:right;
padding:5px;
text-transform:uppercase;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}
/*--- Main Menu ---*/
#mainmenu-inner{
padding:4px 8px 0 8px;
margin:0 0 20px 0;
}
/*- Dropdowns -*/
#mainmenu ul, #mainmenu ul li, #mainmenu ul ul{
margin:0;
padding:0;
list-style:none;
}
#mainmenu ul{
float:left;
position:relative;
z-index:597;
}
#mainmenu li{
float:left;
line-height:1.3em;
vertical-align:middle;
}
#mainmenu li:hover{
cursor:default;
position:relative;
z-index:599;
}
#mainmenu ul ul{
left:0;
position:absolute;
top:100%;
visibility:hidden;
width:100%;
z-index:598;
}
#mainmenu ul ul li{
float:none;
}
#mainmenu ul ul ul{
left:99%;
top:1px;
}
#mainmenu li:hover > ul{
visibility:visible;
}
#mainmenu li a{
padding:10px 9px 10px 9px;
text-transform:uppercase;
text-decoration:none;
font-size:16px;
}
#mainmenu ul ul{
padding:0;
top:18px;
width:200px;
}
#mainmenu li ul a{
font-size:12px;
text-transform:none;
}
#mainmenu ul ul li{
display:block;
font-weight:normal;
}
#mainmenu ul ul li a{
display:block;
padding:10px;
}
/*--- Container ---*/
#container-inner2{
margin-top:-20px;
padding:20px 10px;
}
#banner, #pathway{
margin:0 0 20px 0;
}
#mainbody{
float:left;
width:700px;
}
#content{
float:right;
width:460px;
}
#sidebar{
float:left;
width:220px;
}
#sidebar2{
float:right;
width:220px;
}
/*--- Elements ---*/
.elements{
width:100%;
}
.elements td{
width:290px;
text-align:left;
vertical-align:top;
padding-top:10px;
}
.elements-1{
padding:0 10px 0 0;
}
.elements-2{
padding:0 10px;
}
.elements-3{
padding:0 10px;
}
.elements-4{
padding:0 0 0 10px;
}
/*--- Footer ---*/
#footer{
text-align:center;
}
/*--- Bottom Menu ---*/
#link ul, #link li{
margin:0;
padding:0;
list-style:none;
}
#link li{
display:inline;
}
#link li a{
margin:0 5px;
}
select{
height: 22px;
width: 250px;
margin-top: 10px;
position: relative;
color: #3d5c9c;
border: 1px solid #D4D4D4;
}
select option{
color: #3d5c9c;
}
.control-group { position: relative; }
.control-group .tooltip { position: absolute; left: 2.2em !important; z-index: 9000;}
div.tooltip { position:absolute !important; }